{% load static %}
<footer class="footer">
    <div class="container">
        <img src="{% static 'images/favicon.png' %}" alt="Liquorice Logo">

        <h1>Liquorice</h1>

    
        <div id="theme_b" class="middle">
            <a href="#" id="theme-toggle" class="btn btn3">Theme</a>
        </div>

        <div id="git_b" class="middle">
            <a href="https://github.com/paraleipsis/OpenPolygon" class="btn btn3" target="_blank">
                <img src="{% static 'images/git_icon_white.png' %}" style="width: 20px; height: 20px;">
                <img src="{% static 'images/git_icon_black.png' %}" style="width: 20px; height: 20px;">
                GITHUB
            </a>
        </div>

        <div class="copyright">
            Contacts: der.krabbentaucher@gmail.com
            <br>
            <br>
            Copyright 2022 © by paraleipsis
        </div>

    </div>
</footer>